node_modules/

# Secret
passwords.txt
.VSCodeCounter
upgradeAllPackages.py
bfg.jar

# Editor directories and files
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/

# staticfiles/
# staticfiles/static
# staticfiles/rest_framework
# staticfiles/admin

# Django stuff:
db.sqlite3

# Environments
venv/