node_modules/

# Secret
passwords.txt
DoPass.bat
bfg.jar
config.json

.VSCodeCounter

# Editor directories and files
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/

# Django stuff:
db.sqlite3

# Environments
venv/